
.container-button-home
{
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 40%;
    height: auto;
    border: 2px solid rgb(255, 153, 0);
    color: white;
    font-size: max(0.8rem, 5px);
    padding: 1%;
}
.upper > p
{
    margin-top: 10px;
}
.lower
{
    margin-top: 20px;
}
.button
{
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(255, 153, 0);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 90px;
    min-height: 40px;
    font-weight: bolder;
    color: white;
    transition: 0.5s;
}

.button:hover
{
    box-shadow: 0 0px 15px 0 rgb(255, 153, 0), 0 6px 20px 0 rgb(255, 153, 0);;
}

@media only screen and (max-width:800px) {
    .container-button-home
{
    left: 5vw;
    width: 90vw;
    bottom: 15%;
}
}