.text-div
{
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    font-size: 2rem;
    color: white;
    margin: 3% 0 5% 0;
}
h1
{
    text-align: center;
}

@media only screen and (max-width: 800px) 
{
    .text-div
    {
        font-size: 1rem;
        width: 90vw;
    }
    
}