.home
{
    height: 100vh;
    width: 100%;
}
.home
{
  position: relative;
  font-family: 'Luxurious Roman';
  display: flex;
  flex-direction: column;
  background-image: url(/src/images/backgroundtara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* @media only screen and (max-width: 800px) {
    .home{
      height: 100vh;
      background-image: url(/src/images/rotphone.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  } */
  