@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 1.5em;
    margin-top: 1.5em;
    letter-spacing: 1vw;
}
.kennel
{
    font-family: 'Montserrat';
    text-shadow: 4px 4px #000000;
    font-weight: 600;
}
span
{
    margin: 0 1% 0 0;
}
.logo-image
    {
        height: 100px;
        width: 100px;
    }


@media only screen and (max-width: 800px)  {
    
    .header
    {
        font-size: 1rem;
    }
    .logo-image
    {
        height: 5vh;
        width: 5vh;
    }
    

}